VITE_CLERK_PUBLISHABLE_KEY="pk_test_replace_me"
VITE_PRYMEIRA_ACCOUNT_API_URL="http://localhost:3001"
VITE_PRODUCT_ORQUESTRADOR_URL="http://localhost:5173/m/tecnico"
VITE_PRODUCT_FINANCEIRO_URL="http://localhost:5173/m/financeiro"
